.newsletter {
	padding-top: 104px;
	padding-bottom: 150px;
}

.newsletter__wrapper {
	background-image: url('/img/newsletter.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	padding: 335px 133px 200px;
	position: relative;
}

.newsletter__wrapper::before{
	content: '';
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(28, 46, 61, 0.46);
}

.newsletter__text {
	max-width: 350px;
	z-index: 10;
}

.newsletter__title {
	color: var(--white-color);
}

.newsletter__descr {
	font-family: 'SFCompact', sanf-serif;
	font-weight: 400;
	padding-top: 40px;
	font-size: 16px;
	line-height: 21px;
	color: var(--white-color);
}

.newsletter__form {
	position: absolute;
	bottom: -96px;
	right: 133px;
}

.subscribe-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
	width: 501px;
	height: 416px;
	padding-top: 55px;
}

.subscribe-form__button {
	background-color: var(--neptune-color);
	width: 100%;
	height: 96px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 73px;
	transition: background-color .3s;
}

.subscribe-form__button:hover {
	background-color: #4196a6;
	transition: background-color .3s;
}

.subscribe-form__field {
	border: none;
	border-bottom: 1px solid rgba(28, 46, 61, .3);
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 2px;
	font-weight: 600;
	color: var(--dark-color);
	width: calc(100% - 72px * 2);
	padding: 25px 0;

}

.subscribe-form__field::placeholder {
	text-transform: uppercase;
}
